.main-nav{
    min-height: 50px;
    width: 100%;
    margin: 0% auto;
    /* border-top: solid 3px #ef8236; */
    box-shadow: 0px 1px 5px #00000333;
    position: fixed;
    z-index: 5;
    top: 0%;
    left: 0%;
    background-color: #1f2937;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar{
    height: 100%;
    min-width: 85%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-logo{
    padding: 1px 11.5px ;
    scale: 1.5;
}

.nav-item{
    margin: 0px 3px;
    font-size: small;
    font-weight: 500;
    text-decoration: none;
    color: #FCFCFC;
    transition: 0.2s;
}

.nav-btn{
    cursor: pointer;
    padding: 10px 20px;
}
.nav-btn-2{
    cursor: pointer;
    border-radius: 20px;
    padding: 10px 20px;
}

.nav-item:hover{
    color: black;
    background-color: #fcfcfc;
}

.navbar form {
    flex-grow: 1;
    padding: 0px 12px;
    position: relative;
}

.navbar form input{
    width: 90%;
    margin: 0;
    padding: 8px 10px 8px 32px;
    font-size: 13px;
    border: solid 1px #0000003e;
    border-radius: 3px;
}

.navbar form .search-icon{
    position: absolute;
    left: 25px;
    top: 8px;
}

.nav-links{
    padding: 7px 13px;
    border: solid 1px blue;
    border-radius: 3px;
    background-color: #e7f8fe;
    cursor: pointer;
}

.nav-links:hover{
    background-color: #d3e4eb;
}

@media screen and (max-width: 980px){
    .nav-btn-2{
        display: none;
    }
}